.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login>img {
    margin: 0;
    height: -100%;
    padding: 0px;
}

.login>a {
    padding: 20px;
    border-radius: 99px;
    background-color: hsla(133, 91%, 42%, 0.835);
    font-weight: 800;
    color: white;
    text-decoration: none;
}